.nav{
    background-color: #E74C3C;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin-bottom: 15px;
}
img:hover{
    cursor: pointer;
}
.para{
    color: white;
    font-weight: bold;
    margin-left: 25px;
    margin-right: auto;
}
.date{
    margin-left: 3%;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    width: 250px;
    height: 27px;
    padding: 3px 10px;
    border: 1px solid #E74C3C;
    border-radius: 5px;
    margin-right: auto;
}
.logo{
    width: 45px;
    height: 45px;
}